<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee Management{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'employees/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Employee Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'employee_list' %}">Employee List</a></li>
                <li><a href="{% url 'create_employee' %}">Add Employee</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024. All Rights Reserved By Siva.  Employee Management</p>
    </footer>
</body>
</html>
